

section#joke{
    .container{
        background-color: $header-bg;
        transition: .6s all ease;

         display: grid;
         place-items:center;
         padding: 3rem;
        color: #6A2B2A;
        font-weight: 600;
        #joke-btn{

            @include btnStyle;
            background-color: #fff;
            color: $header-bg;
        }
        p{
            font-size: 1.1rem;
            padding: 2rem;
            color: white;
        text-shadow: 1px 1px 5px white;

        }
    }
}